---
import { type CollectionEntry, render } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import BaseLayout from "./Base.astro";

interface Props {
	entry: CollectionEntry<"neverending">;
}

const { entry } = Astro.props;
const { title, description, publishDate, updatedDate } = entry.data;
const articleDate = (updatedDate ?? publishDate).toISOString();
const { Content } = await render(entry);

const dateTimeOptions: Intl.DateTimeFormatOptions = {
	month: "long",
};
---

<BaseLayout
	meta={{
		articleDate,
		description,
		title,
	}}
>
	<article class="grow break-words" data-pagefind-body>
		<div class="mb-12">
			<h1 class="title">{title}</h1>
			<div class="mt-3 flex flex-wrap items-center gap-x-3 gap-y-2">
				<p class="font-semibold">
					<FormattedDate date={publishDate} dateTimeOptions={dateTimeOptions} />
				</p>
				{
					updatedDate && (
						<span class="bg-quote/5 text-quote rounded-lg px-2 py-1">
							Updated:
							<FormattedDate class="ms-1" date={updatedDate} dateTimeOptions={dateTimeOptions} />
						</span>
					)
				}
			</div>
		</div>
		<div class="prose prose-sm prose-headings:font-semibold prose-headings:text-accent-2">
			<Content />
		</div>
	</article>
</BaseLayout>
